<Project>
  <!-- Copy to Local.props and fix the paths if your game or profile lives elsewhere. -->
  <PropertyGroup>
    <ValheimDir>C:\Program Files (x86)\Steam\steamapps\common\Valheim</ValheimDir>
    <ProfileDir>C:\Users\YOUR_USER\AppData\Roaming\r2modmanPlus-local\Valheim\profiles\Default</ProfileDir>
  </PropertyGroup>
</Project>
